<%= form_for(@comparison_form, as: :comparison, url: comparisons_path) do |f| %>
  <% if @comparison_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comparison_form.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% @comparison_form.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section class="comparison_choices">
    <%= f.hidden_field :item1_id, value: @comparison_form.item1.id %>
    <%= f.label :result, value: 1 do %>
      <%= f.radio_button :result, 1 %>
      <div class="tile-button">
        <div class="check">
        </div>
        <%= @comparison_form.item1 %>
      </div>
    <% end %>

    <%= f.hidden_field :item2_id, value: @comparison_form.item2.id %>
    <%= f.label :result, value: 2 do %>
      <%= f.radio_button :result, 2 %>
      <div class="tile-button">
        <div class="check">
        </div>
        <%= @comparison_form.item2 %>
      </div>
    <% end %>

    <%= f.label :result, value: 0 do %>
      <%= f.radio_button :result, 0 %>
      <div class="tile-button draw">
        <div class="check">
        </div>
        <%= @comparison_form.neutral_title %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit @comparison_form.submit_title,  disabled: true, :data => { disable_with: @comparison_form.submitting_title + "..." } %>
    </div>
  </section>
<% end %>
