<!DOCTYPE html>
<html>
<head>
  <title>Essentials</title>
  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Open+Sans:400">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, message| %>
  <%= content_tag :div, message, class: name %>
<% end %>

<%= yield %>

</body>
</html>
